@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;      /* Fond noir permanent */
  --foreground: #ededed;   /* Texte clair */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

/* Si tu veux que tout soit bien centré verticalement sur toutes les pages */
html, body, #__next {
  height: 100%;
}
